/* calculadora.component.css */

.calculadora-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.calculadora-input {
  width: 100px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculadora-select {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.calculadora-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.calculadora-button:hover {
  background-color: #1e87d4;
}

.calculadora-resultado {
  margin-top: 10px;
  font-size: 24px;
}
